body {
  background-color: lightgray;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.hero-container {
  background-image: url("./sparkling-underwater-jellyfish-abstract-oil.jpg");
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: italic;
}

#main-header {
  background-color: aqua;
  color: white;
}

#navbar {
  background-color: rgb(95, 50, 93);
  color: white;
}

#navbar ul {
  padding: 0%;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

#showcase h1 {
  color: rgb(175, 26, 26);
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main {
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}
#sidebar {
  float: right;
  width: 30%;
  background: #333;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

#showcase {
  max-width: 1440px;
}
@media only screen and (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
}

#main {
  width: 100%;
  float: none;
}
